
* {
    font-family: Arial, Helvetica, sans-serif;
    
}

/*come back to this. try to make it so that there is large
padding but not fixed. Make background fixed */

/*also see if you can combine to make this object oriented for now*/

h1 {
    margin: 0;
    padding-top: 20px;
}

body {
    color:white;
    margin: 0;
}

main {font-size: 15pt;}

main section {
    text-align: center;
}

.bgc    {background-color: rgba(64,224,208,.75)}
.pos-f  {position: fixed;} 
.pos-s  {position: sticky;
         top: 0;}
.t-0    {top: 0;}
.w-100  {width: 100%;}
.w-25   {width: 50;}
.pv     {padding: 24px 0;}
.inline {display:inline}
.center {text-align: center;}
.color-w{color: white;}
.jason  {width: 50%;
         height: 50%;}
.txtrt  {text-align: right;}

.hyperlink a {color:white;
             display:inline;
             margin: 5px;
             text-decoration:none;
             justify-content: space-between;
             } 
  

.sm-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    color: white;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    }

.justify-center {
    justify-content: center;
  }

  /* using a mobile-first approach, set base column width to be 100% and we'll update it using media queries for larger screen sizes */

.card-column {
    flex: 1 0 100%;
    padding: 1.5rem;
    /* when the screen resizes, make it so our columns don't jump in size */
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
    }

.bcg-img {
    background-image: url(https://previews.123rf.com/images/foxaon/foxaon1603/foxaon160300554/53724839-stock-market-chart-background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;}

/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {
    /* on tablets, set columns to only be 50% of the width and not grow */
    
    .card-column {
      flex: 0 0 45%;
      max-width: 45%;
    }
  
    /* select the last child to grow to full width if it has space to grow */
    
    .card-column:last-child {
      flex-grow: 1;
    }
  }

/*center nav bar when in mobile mode with a max-width*/

@media screen and (max-width: 991px) {
    header nav div, footer h1 {
        text-align: center;
        display: flex;
        justify-content: space-between;
    }
}
  
/* media query for larger screens */
@media screen and (min-width: 992px) {

    .card-column {
        flex: 0 0 45%;
        max-width: 45%;
    }
}

/* Instagram: Use an attribute selector to select all <a> elements that have an href value that ends with '.css' */
a[href$='.com/sk_jayce01/?hl=en']::before {
    background-image: url("./images/Instagram_logo_2016.svg.png");
    background-size: 100%;
    display: inline-block;
    content: ""
}